<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
  </configSections>
  <connectionStrings>
    <add name="LiteDb" connectionString="filename=|DataDirectory|\BookDb.db"/>
    <add name="MsSqlDb" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TestBookDb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <autofac>
    <components>
              <!--type="Demos.DistrictQuery.MsSqlRepository.ProvinceRepository, Demos.DistrictQuery.MsSqlRepository"-->
      <component type="Demos.DistrictQuery.LiteDbRepository.ProvinceRepository, Demos.DistrictQuery.LiteDbRepository" service="Demos.DistrictQuery.IRepository.IProvinceRepository, Demos.DistrictQuery.IRepository"/>
      <component type="Demos.DistrictQuery.LiteDbRepository.CityRepository, Demos.DistrictQuery.LiteDbRepository" service="Demos.DistrictQuery.IRepository.ICityRepository, Demos.DistrictQuery.IRepository"/>
      <!--<component type="Demos.DistrictQuery.LiteDbRepository.DistrictRepository, Demos.DistrictQuery.LiteDbRepository"
                 service="Demos.DistrictQuery.IRepository.IDistrictRepository, Demos.DistrictQuery.IRepository"
                 />-->

    </components>
  </autofac>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
